@keyframes placeholder-animation {
  from {
    background-position: -1200px 0;
  }

  to {
    background-position: 1200px 0;
  }
}

$placeholder-image: linear-gradient(
  to right,
  rgb(0 0 0 / 8%) 0,
  rgb(0 0 0 / 15%) 15%,
  rgb(0 0 0 / 8%) 30%
);
$placeholder-size: 1200px 100%;
$placeholder-animation: placeholderanimation 2s linear infinite;

@mixin placeholder {
  background-image: $placeholder-image;
  background-size: $placeholder-size;
  animation: $placeholder-animation;
}
