{
  "src/**/*.+(ts,tsx)": [
    "prettier --write",
    "eslint --fix",
    "tsc-files --pretty --noEmit"
  ],
  "src/**/*.+(scss)": [
    "stylelint --fix --allow-empty-input"
  ],
  "src/**/*.+(ts,tsx,json,scss,md)": [
    "prettier -c \"./**/*.{ts,tsx,json,scss,md}\""
  ]
}
